.hint
	text-align: center
	background-color: #fff
	/.hint-cont
		display: inline-block		
		height: 30px
		line-height: @height
		padding-left: 30px
		font-size: 14px
		background-repeat: no-repeat
		background-position: 0 50%
		/.hint-friendly &
				color #2fa2c7
				background: url(../images/common/hint-friendly-ico.png) 0 50% no-repeat