html
	overflow-y: auto
.manage-content
	padding-top: 0

.inp
	/&-dialog
		height: 22px
		line-height @height
		width: 75%
		/.dialog-table_humdrum &
			width: 80%
	/&-select
		height: 24px
		padding 0
		vertical-align: top

	/&-textarea
		height: 3em

	/&-addr
		width 49%

	/&-product
		overflow hidden



.field-controller
	line-height 36px