#site-topnav
	height: 33px
	line-height: @height
	background-color: #f3f3f3
	font-size: 1.2em
	/.site-nav-container
		height: 33px
		padding 0 10px
		// $mx_ly_center()
	/.site-nav--left
		float: left
	/.site-nav--right
		float: right
	
	/.site-nav--linker
	/.site-nav--divider
	/.site-nav--txt
		float left
		color #646464
	/.site-nav--divider
		margin-left: 12px
		margin-right: 12px



// 子菜单
.menu
	position: relative
	padding-right: 14px
	cursor: pointer
	z-index: 2
	/.menu-arrow
		position: absolute
		right: 0
		top 50%
		margin-top: -3px
		$mx_triangle(5px, #19507c)
	
	/.menu-content
		display: none
		position: absolute
		left 0
		top 100%
		width: 100%
		/&.site-panel__is-opened
			display: block
		/&.site-panel__is-hidden
			display: none
		/.menu:hover &
			display: block
		.wrap
			padding 8px 0
			border: 1px solid #aed2ee
			background-color: #fff
			/.menu-content-arrow
				position: absolute
				left: 50%
				top -11px
				$mx_triangle(6px, #aed2ee, 'bottom')
				margin-left: -6px
				.arrow-fillin
					position: absolute
					left: -5px
					top -4px
					$mx_triangle(5px, #fff, 'bottom')
			/.menu-item
				&:hover
					margin-left: -1px
					margin-right: -1px
			/.menu-block-linker
				display: block
				width: 100%
				height: 26px
				line-height @height
				text-align: center
				color #19507c
				&:hover
					background-color: $gsiteBaseColor
					color #fff
					text-decoration: none